<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">]
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Projeto Flask - Aula 6</title>
</head>
<body>

    <header>

        <h1>Bem-vindos à cidade do sabor!</h1>
        <h2>FoodVille — onde todo prato vira destino.</h2>

    </header>

    <main>
        <menu>
            <a href="{{ url_for('cardapio') }}">VEJA NOSSO CARDÁPIO</a>
            <a href="{{ url_for('maispedidos') }}">MAIS PEDIDOS</a>
            <a href="{{ url_for('faleconosco') }}">FALE CONOSCO</a>
        </menu>

        <h2>Sobre nós</h2>
        <h2>FoodVille</h2>
        
        <p>No FoodVille, acreditamos que comer bem deve ser simples, gostoso e acessível </p> 
        <p>Somos mais do que um restaurante — somos um ponto de encontro para quem valoriza sabor, variedade e um ambiente descontraído.</p>

        <p>Tudo começou com uma ideia: criar um lugar onde diferentes estilos de comida se encontrassem em um só cardápio.</p>
        <p>De hambúrgueres artesanais a opções saudáveis, passando por porções crocantes e sobremesas irresistíveis, aqui tem espaço para todos os gostos e momentos.</p>

        <p>Nosso compromisso é com a qualidade dos ingredientes, o atendimento de verdade e a experiência de cada cliente.</p>
        <p>Queremos que você se sinta em casa — seja numa pausa rápida do dia ou num almoço especial com os amigos.</p>

        <p>FoodVille é a cidade do sabor. E você é sempre bem-vindo por aqui. 🍔🍟🥗</p>

    </main>
    
    <footer> 
    

        <P>Desenvolvido por <strong>Gustavo Wissenbach Viana</strong></P>
        <img src="{{ url_for('static', filename='logo.png') }}" width="250" height="200">


    </footer>
</body>
</html>